$color-red:#ee3639;
$color-white:#fff;
$color-black:#000;
$color-gray:#f7f7f7;
 
@mixin img-base{
  width: 40px;
  height: auto;

}



html,
body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
section {
  width: 100%;
  background-color: $color-white;
  color: #000000cc;
  margin: 0;
  padding: 60px 0 60px 0;
  scroll-margin-top: 50px;
}

/* Background, border */

.bg_gradient {
  background: linear-gradient(
    to right,
    #fa0c0cbf,
    #ce1b1b,
    #ff0303,
    #f61212cd,
    #ff0000,
    #571212e0
  );
  background-size: 400% 400%;
  animation: bg_gradient 10s infinite ease-in-out;
}

@keyframes bg_gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.bg_silver {
  background-color: $color-gray;
}
.bg_red {
  background-color: $color-red;
}
.bg_black {
  background-color: $color-black;
}
.border_red {
  border-left: 1px solid $color-red;
}
.border_bottom_red {
  border-bottom: 1px solid $color-red;
  padding-bottom: 15px;
}
.border_shadow {
  box-shadow: 0px 0px 10px 0px #6e656534;
}
/* Background */

/* header */
header {
  position: fixed;
  z-index: 1100;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: transparent;

  & .btn {
    padding: 9px 25px 9px 25px;
    font-size: 15px;
    &:hover {
      background-color: $color-white;
      color: $color-black !important ;
    }
    &:active {
      box-shadow: 2px 4px 7.599999904632568px 0px $color-gray;
    }
  }

  &.scrolled{
    background-color: $color-white;
    transition: background-color 0.5 ease;

    .line{
      background-color: $color-red;
    }
    .nav__mobile a {
      color: $color-white !important;
    }
    .nav-link {
      color: $color-black !important;
    }
    .toolbar_name {
      color: $color-red!important;
    }
    .btn {
      border: 1px solid $color-black !important;
    }
  }
}

.nav__mobile {
  position: fixed;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 100%;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  display: flex;
  justify-content: center;
  align-items: center;
  
   & .nav-link {
    width: 100%;
    font-size: 22px !important;
    padding: 30px 0;

      &::before {
         content: unset;
      }
  }
}

.nav_name {
  position: absolute;
  width: auto;
}
.nav__opened {
  left: 0;
  box-shadow: 1px 0 15px 2px $color-black;
}
.nav-list {
  list-style: none;
  width: 100%;
  padding: 0;
}
.nav-list-item {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid $color-gray;
}
.nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: $color-white !important;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1.4px;
    background-color: $color-white;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
    transform-origin: left;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
  }
  
  &:hover::before {
    transform: scaleX(1);
  }
}
.toggle-menu-button{
  background-color: rgba(188, 16, 16, 0.06);
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: $color-white;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}
.toggle-menu-button__touched {
  & .line1 {
    z-index: 50;
    background-color: $color-white !important;
    transform: scale(0.8) rotateZ(-45deg) translate(-8px, 5px);
  }
  & .line2 {
    display: none;
  }
  & .line3 {
    z-index: 50;
    background-color: $color-white !important;
    transform: scale(0.8) rotateZ(45deg) translate(-8px, -5px);
  }
}
/* header */


/* button */
 
.btn{
  border: 1px solid $color-white;
  padding: 9px 49px 9px 49px;
  border-radius: 10px;
  color: $color-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background: none;
  cursor: pointer;
}



#price .btn {
  border: 2px solid $color-red;
  padding: 17px 55px 17px 55px;
  font-weight: 600;
  font-size: 20px;
  color: $color-red;
  &:hover {
    background-color: $color-red;
    color: $color-white;
    box-shadow: 0px 4px 12.300000190734863px 0px #a22c2e80;
  }
  &:active {
    box-shadow: 0px 4px 4px 0px $color-black inset;
  }
}


/* button */

/* icon */
#offer img {
  max-width: 70%;
  padding-right: 5rem;
  margin-top: 4rem;
  opacity: 0.3;
  transform: rotate(165deg) scale(1, -1);
}
.popup  img{
  @include img-base();
  cursor: pointer;
 }

 footer img {
  max-width: 40px;
}
.advantages__icon_mark {
  width: 39px;
}
.icon_basic {
  @include img-base();
}
.icon_flag {
  @include img-base();
  padding-right: 10px;
}
.services_icon_avito {
  max-width: 110px;
}
.services_icon {
  max-width: 70px;
}
.services_icon_vector {
  max-width: 30px;
}
.services_icon_coupang {
  max-width: 100px;
}
.services_icon_yamaps {
  max-width: 80px;
}
.icon_telegram {
  @include img-base();
}
.questions__icon {
  width: 28px;
  height: 28px;
}
/* icon */

/* text */
h2 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
}
.section__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  padding-bottom: 50px;
}
.text_basic {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.text_small {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #000000cc;
}
.text_big {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.text_bold {
  font-weight: 550;
}
.text_red {
  color: $color-red;
}
.text_white {
  color: $color-white;
  text-align: justify;
}
.text_silver {
  color: $color-black;
}
.text_center {
  text-align: center;
}
.text_line-through {
  text-decoration: line-through 2px #ee363980;
}
 
.form_title {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
/* text */

/* banner */
#banner {
  & h1 {
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    color: $color-white;
    margin-top: 120px;
    margin-bottom: 120px;
    overflow: hidden;
  }
  & a {
    text-decoration: none;
  }
  & .btn {
    display: flex;
    padding: 20.1px 75.5px 20.1px 75.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.3px;
    border: none;
    background-color: $color-white;
    color: $color-black;
    
    &:hover {
      background-color: $color-red;
      color: $color-white;
      box-shadow: 0px 4px 4px 0px #6702079f;
    }
    &:active {
      box-shadow: 2px 4px 7.599999904632568px 0px $color-red inset;
    }
  }
}
/* banner */


 /* telegram */
  #telegram {
  overflow: hidden;
  & a{
    display: flex;
    justify-content: end;
    text-decoration: none;
  }
  & .btn{
    padding: 5px 9px 5px 9px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    column-gap: 15px;

    &:hover{
      background-color: $color-white;
      color: $color-black;
    }
    & p{
      font-weight: 300;
      font-size: 17px;
      line-height: 15px;
      text-decoration: none;
    }
  }
}
 /* telegram */

 /* padding */

.block_height {
  min-height: 83px;
}
.gap_colum_max {
  column-gap: 40px;
}
.gap_row_max {
  row-gap: 30px;
}
.gap_row_min {
  row-gap: 10px;
}
/* padding */

/* feedback */
.review-box {
  display: flex;
  position: relative;
  padding: 0;
  justify-content: center;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color:  $color-black;
    font-size: 3rem;
    width: 33px;
    position: absolute;
    height: calc(100% - 4px);
    border: 0;
    cursor: pointer;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
  }
  & .prev {
    left: 10px;
  }
  & .next {
    right: 10px;
  }
  & img{
     width: 300px;
     height: auto;
  }
}
.review {
  display: none;
}

#help p {
  font-weight: 500;
}

/* feedback */



/* questions */
#questions{
  padding: 0;
  & .popular-questions {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(38, 4, 6, 0.1);
    &:first-child {
      border-top: 1px solid rgba(38, 4, 6, 0.1);
    }
    & summary {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0em;
      cursor: pointer;
      &::after {
        content: " ";
        background-image: url(../image/plus.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 29px;
        width: 29px;
        transition: background-image 0.6s ease;
      }
    }
    & > p {
      padding-bottom: 0.5rem;
      text-align: justify;
    }
  }
  .popular-questions[open] > summary::after {
    background-image: url(../image/minus.png);
  }

}
.questions_padding {
  padding-left: 10%;
  padding-right: 8%;
}
.popular-questions > summary,
.popular-questions[open] > summary:first-of-type {
  list-style-type: none;
}
@keyframes question_icon_animate {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

/* questions */

/* form */
#lead{
  scroll-margin-top:50px ;
 }
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  & > p {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #000000ca;
  }
  & label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  & input {
    max-height: 34px;
    background: none;
    border-radius: 10px;
    border: 1px solid #000000ca;
    padding: 10px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    color: #00000080;

    &[type="submit"] {
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      padding: 41px, 54px, 41px, 54px;
      border: none;
      gap: 12px;
      min-height: 52px;
      background-color: $color-red;
      color: $color-white;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 4px 4px 0px #00000040;
      }
      &:active {
        box-shadow: 2px 4px 7.599999904632568px 0px #ce1c26 inset;
      }
    }
  }
  
  & select {
    max-height: 39.2px;
    background: none;
    border-radius: 10px;
    border: 1px solid #000000ca;
    padding: 10px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 14px;
    color: #00000080;
  }
  & .select_radio{
    display: flex;
    & .radio_item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      & .selector-item_radio{
        appearance:none;
        display:none;
        &:checked + .selector-item_label{
          background-color:var(--blue);
          color:var(--white);
          box-shadow:0 0 4px #6a060886,0 2px 4px #6a060878;
          transform:translateY(-2px);
          color: $color-red;
        }
      }
       & .selector-item_label{
          position:relative;
          height:100%;
          width:80%;
          text-align:center;
          border-radius:9999px;
          line-height:400%;
          font-weight:700;
          transition-duration:.5s;
          transition-property:transform, box-shadow;
          transform:none;
          cursor: pointer;
        }
    }
  }
  & .form_success-message{
    color: #00f335;
  }
  & .form_error-message {
    color: $color-red;
  }
  & .form_submit:disabled{
    background-color: $color-gray;
    border: 2px solid $color-red;
    color: $color-red;
    &:hover{
      box-shadow: none;
    }
  }
  
}
/* form */


/* popup */

#popup_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  transition: 0.5s all;
  z-index: 10000;
}
.popup_hidden{
  opacity: 0;
  pointer-events: none;
}
.active {
  opacity: 1;
  pointer-events: all;
}
.popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  padding-bottom: 30px;
  & > span {
    text-align: center;
    font-size: 23px;
    padding-bottom: 30px;
    line-height: 25px;
    font-weight: 500;
  }
  &> div{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 5px 15px 25px 0;
  }
}


/* popup */

.content_center {
  display: flex;
  justify-content: center;
}

footer {
  padding-top: 33px;
  padding-bottom: 33px;
}
#visa_countries .row {
  row-gap: 30px;
}






@media (min-width: 1280px) {
  .popular-questions > p {
    max-width: 80%;
  }
}
@media (max-width: 1200px) {
  #offer img {
    display: none;
  }
  header .btn {
    padding: 9px 25px 9px 25px;
    font-size: 15px;
  }
}
#services p {
  text-align: center;
}

@media (max-width: 992px) {

  form {
    width: 60%;
  }
  #banner h1 {
    text-align: center;
  }
  .button_center_media {
    display: flex;
    justify-content: center;
  }
  #services .row {
    justify-content: center;
  }
  #services .section__title {
    text-align: center;
  }
  #services p {
    text-align: center;
  }
  #price p {
    text-align: center;
  }
  #price .row {
    justify-content: center;
  }
  #price .section__title {
    text-align: center;
  }
  .form__title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
  }
  #telegram p{
    text-align: center;
  }
  #telegram a{
    justify-content: center;
  }
  #price .gap_row_max{
    row-gap: 20px;
  }
   #price .gap_row_min{
    row-gap: 5px;
  }
  header .nav-link{
    font-size: 15px !important;
  }
  .review-box img{
    max-width: 200px;
    height: auto;
 }
}

@media (max-width: 768px) {
  .section__title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  .questions__input {
    min-width: 400px;
  }
  #banner .bth {
    font-size: 20px;
    line-height: 25px;
  }

  header .content_center {
    justify-content: start;
  }
  #advantages img {
    width: 60px;
  }
  section .row {
    display: flex;
    justify-content: center;
  }
  .content_center_media {
    display: flex;
    justify-content: center;
  }
  #advantages h2 {
    text-align: center;
  }
  #advantages p {
    text-align: center;
  }
  .icon_flag {
    width: 60px;
  }
  #visa_countries p {
    text-align: center;
  }
  #help p {
    text-align: center;
  }
  .icon_basic {
    width: 60px;
  }
  form {
    width: 80%;
  }
  
}

@media (max-width: 576px) {
  #banner h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .section__title {
    font-size: 25px;
    line-height: 30px;
  }
  header .btn {
    padding: 9px 10px 9px 10px;
  }
  #price .text_basic {
    font-size: 14px;
    line-height: 18px;
  }
  #price .text_big {
    word-break: break-all;
    font-size: 18px;
    line-height: 20px;
  }
  .text_small {
    font-size: 14px;
  }
  #price .btn {
    font-size: 15px;
    padding: 9px 20px 9px 20px;
  }

  h2 {
    font-size: 22px;
  }
  .form__title {
    font-size: 25px;
  }
  form {
    width: 90%;
  }
  .container {
    max-width: 90%;
  }
  #banner .btn {
    padding: 15px 20px 15px 20px;
  }
  .text_basic {
    font-size: 18px;
    line-height: 22px;
  }
  .text_big {
    font-size: 22px;
    line-height: 20px;
  }
  .popular-questions > summary {
    font-size: 15px;
    line-height: 20px;
  }
  .popular-questions > p {
    font-size: 13px;
    line-height: 18px;
  }
  .popular-questions > summary::after {
    width: 19px;
    height: 19px;
  }
  #telegram .btn p{
    font-size: 15px;
  }
  
}

@media (max-width: 318px) {
  .services_icon_vector {
    display: none;
  }
  h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .section__title {
    font-size: 18px;
    line-height: 20px;
  }
  .form__title {
    font-size: 18px;
    line-height: 20px;
  }
  #offer h1 {
    font-size: 25px;
    line-height: 30px;
  }
  #offer .btn {
    font-size: 20px;
  }
  footer img {
    max-width: 30px;
  }
  .popular-questions > summary {
    font-size: 12px;
    line-height: 15px;
  }
  .popular-questions > p {
    font-size: 10px;
    line-height: 13px;
  }
  .popular-questions > summary::after {
    width: 12px;
    height: 12px;
  }
  .text_basic {
    font-size: 14px;
    line-height: 16px;
  }
  #telegram .btn p{
    font-size: 14px;
    line-height: 12px;
  }
  #price .text_basic {
    font-size: 13px;
    line-height: 19px;
  }
  .review-box img{
    max-width: 200px;
    height: auto;
 }
}

 

