@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

h2 {
  margin: 0;
}

.bg_gradient{
  background: linear-gradient(
    to right,
    #fa0c0cbf,
    #ce1b1b,
    #ff0303,
    #f61212cd,
    #ff0000,
    #571212e0
  );
  background-size: 400% 400%;
  animation: bg_gradient 10s infinite ease-in-out;
}

@keyframes bg_gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
#offer img{
  max-width: 70%;
  padding-right: 5rem;
  margin-top: 4rem;
  opacity: 0.3;
  transform: rotate(165deg) scale(1, -1);
}


.toolbar_name{
  font-weight: 500;
  font-size: 20px;
  line-height: 23.4px;
  color: #E2D8D8;
}
header{
  position: fixed;
  z-index: 1100;
  width: 100%;
  margin:0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

header a{
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: #FFF5F5;
  text-decoration: none;
}

header button{
  border: 1px solid #FFFFFF;
  padding:  9px 49px 9px 49px;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background:none;
  box-shadow: 0px 4px 4px 0px #98050C;
}
header button:hover {
background-color: #FFFFFF;
color: #000;
}
header button:active{
  box-shadow: 2px 4px 7.599999904632568px 0px #9F9C9C inset;

}

#banner h1{
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  margin-top: 120px;
  margin-bottom: 120px;
}
#banner a{
  text-decoration: none;
}

#banner button{
  display: flex;
  border-radius: 10px;
  padding: 20.1px 75.5px 20.1px 75.5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.3px;
  border: none;
  box-shadow: 0px 4px 4px 0px #98050C;

}
#banner button:hover{
  background-color: #EE3639;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px #670207;
}
#banner button:active{
  box-shadow: 2px 4px 7.599999904632568px 0px #CE1C26 inset;

}


/* ДЛЯ BOOTSTRAP */
section {
  width: 100%;
  background-color: #fff;
  color: #000000cc;
  margin: 0;
  padding: 0;
}
.bg_silver {
  background-color: #f7f7f7;
}
.bg_red {
  background-color: #ee3639;
}
.bg_black{
  background-color: #313131;
}
.section__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  padding-bottom: 50px;
}
.text_basic {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.text_small {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: #000000cc;
}
.text_big {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.text_bold {
  font-weight: 550;
}
.advantages__icon_mark {
  width: 39px;
}
.text_red {
  color: #ee3639;
}
.text_white {
  color: #ffffff;
  text-align: justify;
}
.text_silver {
  color: #0000008f;
}
.text_center {
  text-align: center;
}
.icon_basic {
  width: 40px;
  height: auto;
}
.border_red {
  border-left: 1px solid #ee3639;
}
.border_bottom_red{
  border-bottom: 1px solid #ee3639;
  padding-bottom: 15px;
}
.icon_flag {
  width: 40px;
  height: auto;
  padding-right: 10px;
}
.services_icon_avito {
  max-width: 110px;
}
.services_icon {
  max-width: 70px;
}
.services_icon_vector {
  max-width: 30px;
}
.services_icon_coupang {
  max-width: 100px;
}
.services_icon_yamaps {
  max-width: 80px;
}
.block_height {
  min-height: 83px;
}
#telegram a{
  cursor: pointer;
}
#telegram img:hover{
  background-color:  #ffffff35;
}

.text_line-through {
  text-decoration: line-through 2px #ee363980;
}
.border_shadow {
  box-shadow: 0px 0px 10px 0px #6e656534;
}
.gap_colum_max {
  column-gap: 40px;
}
.gap_row_max {
  row-gap: 30px;
}
.gap_row_min {
  row-gap: 15px;
}
#help p{
  font-weight: 500;
}
#price button {
  
  border-radius: 10px;
  border: 2px solid #ee3639;
  padding: 17px 55px  17px 55px ;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #ee3639;
  cursor: pointer;
}
#price button:hover {
  background-color: #ee3639;
  color: #fff;
  box-shadow: 0px 4px 12.300000190734863px 0px #a22c2e80;
}
#price button:active {
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}
.questions_padding {
  padding-left: 10%;
  padding-right: 8%;
}
.questions__button {
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.questions__icon {
  width: 28px;
  height: 28px;
}

#questions .popular-questions:first-child{
  border-top:  1px solid rgba(38, 4, 6, 0.1);
}

.popular-questions{
  padding: 15px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(38, 4, 6, 0.1);
}

.popular-questions > summary, .popular-questions[open] > summary:first-of-type {
  list-style-type: none;
}

.popular-questions > summary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  cursor: pointer;
}

.popular-questions > summary::after {
  content: " ";
  background-image: url(../image/plus.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 29px;
  width: 29px;
  transition: background-image 0.6s ease;
  /* animation: question_icon_animate ease .6s; */
}

.popular-questions[open] > summary::after {
  background-image: url(../image/minus.png);
  /* animation: question_icon_animate ease 0.6s; */
}

.popular-questions > p{
 padding-bottom: .5rem;
 text-align: justify;
}

@media (min-width: 1280px){
  .popular-questions > p{
    max-width: 80%;
  }
}


@keyframes question_icon_animate {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }

  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.form_title{
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;

}
form{
  display: flex;
  flex-direction: column;
  width: 90%;
}


 @media (max-width:760px){
  .questions__input{
    min-width: 400px;

  }

 }
 form > p{
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #000000ca;
 }

 form label{
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
 }
 form input[type='submit']{
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 41px, 54px, 41px, 54px;
  border-radius: 10px;
  border: none;
  gap: 12px;
  min-height: 52px;
  background-color: #EE3639;
  color: #fff;
 }

 
 form input{
  max-height: 34px;
  background: none;
  border-radius: 10px;
  border: 1px solid #000000ca;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  color: #00000080;
 }
 form select  {
  max-height: 39.2px;
  background: none;
  border-radius: 10px;
  border: 1px solid #000000ca;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  color: #00000080;
 }
 

 form input[type='submit']:hover{
  box-shadow: 0px 4px 4px 0px #00000040;
}
form input[type='submit']:active{
  box-shadow: 2px 4px 7.599999904632568px 0px #CE1C26 inset;
}

 input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 18px;
  width: 18px;
  appearance: none;
  outline: none;
  margin-right: 15px;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000000;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #EE3639;
  transform: translate(-50%, -50%);
  visibility: visible;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}
footer img{
  max-width: 40px;
}
.items_center{
  display: flex;
  align-items: center;
}
 
.content_center{
  display: flex;
  justify-content: center;
}

footer{
  padding-top: 33px;
  padding-bottom:33px ;
}
#visa_countries .row{
  row-gap: 30px;
}



@media(max-width:1200px){
  #offer img{
    display: none;
  }
  header button{
    padding: 9px 25px 9px 25px;
    font-size: 15px;

  }
}
#services p{
  text-align: center;
}



@media(max-width:992px){
  .toolbar_name{
    display: none;
  }
  form{
    width: 60%;
  }
  #banner h1{
    text-align: center;
  }
  .button_center_media{
    display: flex;
    justify-content: center;

  }
  #services .row{
    justify-content: center;
  }
  #services .section__title{
    text-align: center;
  }
  #services p{
    text-align: center;
  }
  #price p{
    text-align: center;
  }
  #price .row{
    justify-content: center;
  }
  #price .section__title{
    text-align: center;
  }
  .form__title{
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
  }
  
 
 
  


}
@media(max-width:768px){
  .section__title{
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
 
  #banner button{
    font-size: 20px;
    line-height: 25px;
  }
  
  header .content_center{
    justify-content: start;
  }
  #advantages img{
    width: 50px;
  }
  section .row  {
    display: flex;
    justify-content: center;
  }
  .content_center_media{
    display: flex;
    justify-content: center;
  }
  .icon_flag{
    width: 50px;
  }
  #visa_countries p{
    text-align: center;
  }
  #help p{
    text-align: center;
  }
  .icon_basic{
    width: 50px;
  }
  #help .text_big{
    font-size: 24px;
  }
  form{
    width: 80%;
  }
  

}
@media(max-width:576px){
  #banner h1{
    font-size: 40px;
    line-height: 50px;
  }
  header button{
    padding: 9px 10px 9px 10px;
  }
  #price .text_basic{
    font-size: 15px;
    line-height: 18px;
  }
  #price .text_big{
    font-size: 20px;
    line-height: 25px;
  }
  #price button{
    padding: 9px 25px 9px 25px;
    font-size: 18px;

  }
  .form__title{
    font-size: 25px;
  }
  

 
  
  form{
    width: 90%;
  }
  .container{
    max-width: 90%;
  }
  #banner button{
  padding: 15px 20px 15px 20px;

    
  }


}
.nav-bar {
	position: fixed;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}
.nav_name{
  position: absolute;
  width: auto;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
	background-color: rgba(188, 16, 16, 0.06);
	position: fixed;
	top: 18px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    padding: 2px 2px 2px 4px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #ffffff;
	transform: scale(0.8) rotateZ(-45deg) translate(-8px, 5px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #ffffff;
	transform: scale(0.8) rotateZ(45deg) translate(-8px, -5px);
}



.nav-list {
	list-style: none;
  width: 100%;
  padding: 0;
}

.nav-list-item {
	text-align: center;
	padding: 30px 0;
  border-bottom: 1px solid #ffffff83;
}

.nav-link {
  width: 100%;
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
	position: relative;
  padding: 30px 0;
}

.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}